@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

html,
body,
section {
    block-size: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section:first-of-type {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size:cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;  
}

section:nth-of-type(2) {
    background: #f6f9ff;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

section:nth-of-type(3) {
    background-image: url('https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: start;
}


section:nth-of-type(4) {
    background: #f6f9ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section:nth-of-type(5) {
    background-image: url('https://images.unsplash.com/photo-1531844251246-9a1bfaae09fc?q=80&w=1816&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

@media (min-width: 670px) {
    .title {
        font-size: 5rem;
    }
}

.button {
    padding: 20px 40px;
    background-color: #333; /* Set background color as per your preference */
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin: 0px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: white;
    color: black;
}


body {
    font-family: system-ui, sans-serif;
    font-size: 4rem;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    /* background-color: #d5d4d4; */
    padding: 15px;
    text-align: right;
    opacity: 75%;
}

.event-countdown {
    position: sticky;
    bottom: 0;
    z-index: 100;
    background-color: #d5d4d4;
    height: 15vh;
    text-align: right;
    opacity: 75%;
}

.countdown {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.countdown-item {
    text-align: center;
    border: 3px solid #717ff5;
    padding: 4px;
    margin: 5px;
    width: 80px; 
    box-sizing: border-box; 
}

.countdown-item span {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}


nav a {
    color:rgb(54, 54, 54);
    text-decoration: none;
    padding: 10px 5px;
    margin: 0 10px;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    nav a {
        font-size: 1rem;
    }
}

.swiper {
    width: 70%;
    height: 50%;
}

.swiper-slide img {
    background-color: #f6f9ff;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.font-main-color {
    color:#717ff5;
}

.font-white {
    color: #f6f9ff;
}

#btn-event-details {
    background-color:#717ff5;
    color: #f6f9ff;
    padding: 10px 0px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin: 0px 10px;
    transition: background-color 0.3s, color 0.3s;
}

#btn-event-details:hover {
    background-color: white;
    color: black;
}

/* Mobile styles */
@media screen and (max-width: 600px) {
    body {
        font-size: 2rem; /* Adjust the font size for smaller screens */
    }

    nav {
        text-align: center; /* Center-align navigation links */
    }

    .event-countdown {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center;
    }

    .content {
        display: none;
    }

    .countdown {
        margin-top: 10px; /* Stack countdown items vertically on smaller screens */
    }

    .countdown-item {
        width: 100%; /* Make countdown items take full width on smaller screens */
        margin: 5px 0; /* Adjust margin for better spacing */
    }

    .countdown-item span {
        font-size: 1.5em; /* Adjust the font size of numbers for better visibility on smaller screens */
    }

    .event-countdown {
        height: auto; /* Allow the event countdown container to grow as needed */
    }

    #btn-event-details {
        margin-top: 10px; /* Adjust margin for better spacing */
    }
}

#map { 
    width: 40vw; 
    height: 80vh; 
/*     margin-left: 30px; */
}

.border-radius-30 {
    border-radius: 30px;
}